<ion-content [fullscreen]="true">
<app-menu></app-menu>
<ion-row class="row-title">
    <ion-col size="4.5">
        <ion-item>
            <p>CREATIVE MIND, CREATIVE WORKS</p>
        </ion-item>
        <ion-item>
            <h3>We are digital agency</h3>
        </ion-item>
        <ion-item>
            <ion-button>GETTING STARTED</ion-button>
        </ion-item>
    </ion-col>
    <ion-col size="4.5">
        <img src="https://imgs.search.brave.com/msc0M-DW3T4MxQ9efYI6mS7U4WnQt8RfD7Qme0ipV5M/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudmV4ZWxzLmNv/bS9tZWRpYS91c2Vy/cy8zLzI5ODc1Ni9p/c29sYXRlZC9wcmV2/aWV3LzA0NDRhNDg5/MzU4NGU2NTkwNTU1/OTM1ODMzMDRlNjk2/LWZsYW1pbmdvLWVu/Z3JhYS1hZG8tZGUt/cHJhaWEtcmV0cmEu/cG5n" alt="">
    </ion-col>
</ion-row>

<ion-row class="row-card">
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="paper-plane-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>Future Concept</ion-card-subtitle>
            </ion-card-header>
          
            <hr class="custom-line" />

            <ion-card-content> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis perspiciatis quo doloribus. </ion-card-content>
         </ion-card>
    </ion-col>
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="extension-puzzle-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>The Big ideas.</ion-card-subtitle>
            </ion-card-header>

            <hr class="custom-line" />
          
            <ion-card-content> Lorem ipsum, dolor sit amet consectetur adipisicing elit. A repellendus vitae explicabo saepe. </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="information-circle-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>Creative Solutions</ion-card-subtitle>
            </ion-card-header>
          
            <hr class="custom-line" />

            <ion-card-content> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus ipsam rem perspiciatis. </ion-card-content>
        </ion-card>
    </ion-col>

     

   
</ion-row>

<ion-row class="servicos">
    <ion-col size="7">
        <h2>--SERVICES.</h2>
        <p>OUR SERVICES FOR CLIENTS</p>
    </ion-col>

</ion-row>

<ion-row class="row-card" style="background: #0A0B0D;">
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="paper-plane-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>Future Concept</ion-card-subtitle>
            </ion-card-header>
          
            <hr class="custom-line" />

            <ion-card-content> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis perspiciatis quo doloribus. </ion-card-content>
         </ion-card>
    </ion-col>
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="extension-puzzle-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>The Big ideas.</ion-card-subtitle>
            </ion-card-header>

            <hr class="custom-line" />
          
            <ion-card-content> Lorem ipsum, dolor sit amet consectetur adipisicing elit. A repellendus vitae explicabo saepe. </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="information-circle-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>Creative Solutions</ion-card-subtitle>
            </ion-card-header>
          
            <hr class="custom-line" />

            <ion-card-content> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus ipsam rem perspiciatis. </ion-card-content>
        </ion-card>
    </ion-col>

     

   
</ion-row>
<ion-row class="row-card" style="background: #0A0B0D;">
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="paper-plane-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>Future Concept</ion-card-subtitle>
            </ion-card-header>
          
            <hr class="custom-line" />

            <ion-card-content> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis perspiciatis quo doloribus. </ion-card-content>
         </ion-card>
    </ion-col>
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="extension-puzzle-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>The Big ideas.</ion-card-subtitle>
            </ion-card-header>

            <hr class="custom-line" />
          
            <ion-card-content> Lorem ipsum, dolor sit amet consectetur adipisicing elit. A repellendus vitae explicabo saepe. </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col size="2.5">
        <ion-card>
            <ion-card-header>
              <ion-card-title><ion-icon name="information-circle-outline"></ion-icon></ion-card-title>
              <ion-card-subtitle>Creative Solutions</ion-card-subtitle>
            </ion-card-header>
          
            <hr class="custom-line" />

            <ion-card-content> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus ipsam rem perspiciatis. </ion-card-content>
        </ion-card>
    </ion-col>

     

   
</ion-row>
</ion-content>